.odd-number{
    background-color: #f268d2;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color: rgb(2, 163, 217);
    font-size: 36px;
}

.change-font-size{
    font-size: 24px;
}

#fourth{
    background-color: #59f7a8;
    font-size: 24px;
    font-weight: bold;
}