.first,
.second{
    font-size: 28px;
    font-family: Helvetica, "Times-New-Roman", sans-serif;
}

.first{
    background-color: black;
    color: white;
}

.second{
    background-color: hsl(52, 73%, 59%);
}